@import "bootstrap";

.map-container {
  grid-column: 1 / -1; /* Растягивает карту на все колонки грида */
  width: 100%;         /* Занимает всю доступную ширину */
  height: 450px;       /* Задайте высоту явно, чтобы она была заметной */
  margin-top: 20px;
}
