@import "bootstrap";

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll !important; /* Фон скроллится вместе с контентом */
    background-size: cover;
    height: auto !important; /* Позволяет блоку растягиваться по высоте контента */
    padding: 40px 0; /* Добавляем внутренние отступы, чтобы контент не прилипал */
  }
}
